language: python

env:
  - DJANGO_VERSION=1.8.*
  - DJANGO_VERSION=1.9.*
  - DJANGO_VERSION=1.10.*
  - DJANGO_VERSION=1.11.*
  - DJANGO_VERSION=2.0.*
  - DJANGO_VERSION=2.1.*

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

matrix:
  exclude:
    - python: "2.7"
      env: DJANGO_VERSION=2.0.*
    - python: "2.7"
      env: DJANGO_VERSION=2.1.*
    - python: "3.4"
      env: DJANGO_VERSION=2.1.*
  include:
    - python: "3.7"
      dist: xenial
      sudo: true

install:
    - pip install -q coveralls unittest2 Django==$DJANGO_VERSION

script:
    coverage run --source=django_bitmask_field manage.py test --settings tests.settings

after_success:
    coveralls

branches:
  only:
    - master
